
# Script:       MANIFEST.in
# Description:  AutoForge package additional resources

recursive-include src/auto_forge/config *.*         # Includes everything in config
recursive-include src/auto_forge/resources *.*      # Include everything in resources
include pyproject.toml                              # Add the package toml